*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{

    overflow-x: hidden;

    /*Font Details*/
    font-size: 1.1vw;
    line-height: 4vh;
    font-family: 'Inter', sans-serif;

}

section{

    /*Section Default Display*/
    display: flex;

}

aside{

    /*Aside Default Details*/
    width: 78vw;
    padding: 2vw;

}

#secProfile{

    /*Section Size*/
    width: 100vw;
    height: 100vh;

}

#secPhoto{

    /*Section Size*/
    width: 22vw;

    /*Position Details*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*Background Color*/
    background-color: rgb(233, 233, 233);


}

img{

    /*Image Size*/
    max-width: 100%;

}

#CVPhoto{

    /*Photo Size*/
    width: 15vw;

    /*Border Details*/
    border: 0px solid;
    border-radius: 150px;

}

#secInfo{

    /*Section Size*/
    width: 78vw;
    
    /*Position Details*/
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

#secName{

    /*Section Size*/    
    width: 60vw;
    height: 20vh;

    /*Position Details*/
    justify-content: space-between;
    margin-top: 30vh;

}


#artName{

    /*Article Size*/
    width: 28vw;
    height: 18vh;

    /*Font Details*/
    line-height: 5.5vh;

    /*Position Details*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

article h1{

    /*Font Details*/
    font-size: 3vw;

}

article h2{

    /*Font Details*/
    color: grey;
    font-size: 1.3vw;
    font-weight: 500;

}

#asideSocial{

    /*Aside Size*/
    width: 4vw;
    height: 18vh;

    /*Position Details*/
    column-gap: 0.5vw;
    padding: 0;
    display: flex;
    align-items: flex-end;

}

#line{

    /*Line Size*/
    width: 60vw;
    height: 1vh;
    
    /*Position Details*/
    margin-top: 20vh;

    /*Shadow Detail*/
    box-shadow: 1px 1px 1px rgb(148, 148, 148);

}

#secContact{

    /*Section Size*/
    width: 60vw;

    /*Position Details*/
    justify-content: space-around;
}

.asideContact{

    /*Aside Size*/
    width: 20vw;
    height: 8vh;

}

.secData{

    /*Section Size*/
    width: 100vw;
    height: auto;

}

.artSide{

    /*Article Size*/
    width: 22vw;

    /*Position Details*/
    padding: 3vw;
    display: flex;
    justify-content: flex-end;

    /*Background Details*/
    background-color: rgb(243, 243, 243);

}

.asideInfo{

    /*Position Details*/
    padding: 3vw;
    display: flex;
    justify-content: space-around;

}

.asideEXP{

    /*Aside Size*/
    width: 34vw;

}
