*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{

    /*Font Details*/
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    color: rgb(58,84,180);
    overflow-x: hidden;

}

section{

    /*Organization Details*/
    display: flex;

}

article{

    /*Organization Details*/
    display: flex;
    flex-direction: column;

}

aside{

    /*Organization Details*/
    display: flex;
    align-items: center;

}

figure{

    /*Organization Details*/
    display: flex;
    align-items: center;

}

button{

    /*Dimension Details*/
    width: 14vw;
    min-height: 5vh;

    /*Font Details*/
    color: white;
    font-size: 0.8rem;
    font-weight: 100;

    /*Background Details*/
    background-color: rgb(58,84,180);

}

button:hover{

    /*Background Details*/
    transition: 1s;
    background-color: gray;

}

img{

    /*Dimension Details*/
    max-width: 100%;
    height: auto;

}

h3{

    /*Font Details*/
    font-size: 3.5rem;
    font-weight: 900;

}

h4{

    /*Font Details*/
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 4rem;

}