#contact{

    width: 100vw;
    height: 80vh;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: white;
    font-size: 0.9rem;
    line-height: 4vh;
    text-align: center;

    background-color: rgb(58,84,180);

}

.contactDetails{

    width: 15vw;

}

#mensage{
    
    width: 62vw;

    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.mensageSender{

    width: 30vw;
    height: 5vh;

    color: white;

    border: none;
    border-bottom: 1px solid white;

    background-color: rgb(58,84,180);

}

.mensageSender::placeholder{

    color: white;

}

.mensageSender:hover{

    border-color: blue;

}

.mensageSubjetive{

    width: 80vw;
    height: 5vh;

    color: white;

    border: none;
    border-bottom: 1px solid white;

    background-color: rgb(58,84,180);

}

.mensageSubjetive::placeholder{

    color: white;

}

.mensageSubjetive:hover{

    border-color: blue;

}


#subjetive{

    height: 15vh;

}

#sendMensage{

    width: 80vw;
    border: none;

}

#finalSec{

    width: 75vw;
    height: 14vh;
    align-items: center;

}

#social{

    width: 15vw;

    justify-content: space-evenly;

}

#contactDog{

    width: 30vw;

}