*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{

    /*Dimension Details*/
    width: 100vw;
    height: 100vh;

    /*Display Details*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /*Font Details*/
    font-family: 'Roboto', sans-serif;

    /*Background Details*/
    background-color: rgba(0, 0, 0, 0.946);

}

header{

    /*Dimension Details*/
    width: 100vw;
    height: 10vh;

    /*Display Details*/
    display: flex;
    align-items: center;
    justify-content: center;

    /*Background Details*/
    background-color: black;

}

#titleH1{

    /*Dimension Details*/
    width: 80vw;

    /*Font Details*/
    color: orange;
    font-size: larger;

}

fieldset{

    /*Dimension Details*/
    width: 30vw;
    height: 37vh;

    /*Display Details*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    /*Background Details*/
    background-color: gray;
    
}

form{

    /*Dimension Details*/
    width: 20vw;
    height: 30vh;

    /*Display Details*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

input{

    /*Dimension Details*/
    width: 20vw;
    height: 3vh;

    /*Font Details*/
    font-size: 1rem;

    /*Background Details*/
    background-color: rgb(217, 226, 242);

}

select{

    /*Dimension Details*/
    height: 3vh;
    background-color: rgb(217, 226, 242);
}

button{

    /*Dimension Details*/
    padding: 0.5vw;

    /*Background Details*/
    background-color: orange;

}

button:hover{

    background-color: rgb(252, 194, 87);

}

button:active{

    background-color: gray;

}